<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Задание 2</title>
    <link rel="stylesheet" type="text/css" href="../static/task2/style.css">
</head>
<body>
    <div class="images">
        <div class="images__div">
            <h1>Получить главную страницу методом GET в протоколе HTTP 1.0</h1>
            <img src="../static/task2/img/1.jpg" alt=""/>
        </div>
        <div class="images__div">
            <h1>Получить внутреннюю страницу методом GET в протоколе HTTP 1.1</h1>
            <img src="../static/task2/img/2.jpg" alt=""/>
        </div>
        <div class="images__div">
            <h1>Определить размер файла file.tar.gz, не скачивая его</h1>
            <img src="../static/task2/img/3.jpg" alt=""/>
            <h2>Размер: 11335 байт</h2>
        </div>
        <div class="images__div">
            <h1>Определить медиатип ресурса /image.png</h1>
            <img src="../static/task2/img/4.jpg" alt=""/>
            <h2>Медиатип: image/png</h2>
        </div>
        <div class="images__div">
            <h1>Отправить комментарий на сервер по адресу /index.php</h1>
            <img src="../static/task2/img/5.jpg" alt=""/>
        </div>
        <div class="images__div">
            <h1>Получить первые 100 байт файла /file.tar.gz</h1>
            <img src="../static/task2/img/6.jpg" alt=""/>
        </div>
        <div class="images__div">
            <h1>Определить кодировку ресурса /index.php</h1>
            <img src="../static/task2/img/7.jpg" alt=""/>
        </div>
    </div>
</body>
</html>