<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Задание 1</title>
    <link rel="stylesheet" type="text/css" href="../static/task1/style.css">
</head>
    <body>
        <div class="images">
            <div class="images__div">
                <h1>ping</h1>
                <img src="../static/task1/img/ping.jpg" alt=""/>
            </div>
            <div class="images__div">
                <h1>nslookup (A)</h1>
                <img src="../static/task1/img/nslookup1.jpg" alt=""/>
            </div>
            <div class="images__div">
                <h1>nslookup (MX)</h1>
                <img src="../static/task1/img/nslookup2.jpg" alt=""/>
            </div>
            <div class="images__div">
                <h1>whois kubsu.ru</h1>
                <img src="../static/task1/img/whois1.jpg" alt=""/>
            </div>
            <div class="images__div">
                <h1>whois kubsu-dev.ru</h1>
                <img src="../static/task1/img/whois2.jpg" alt=""/>
            </div>
            <div class="images__div">
                <h1>sftp screenshot</h1>
                <img src="../static/task1/img/sftp.jpg" alt=""/>
            </div>
        </div>
    </body>
</html>